<h2 mat-dialog-title>Add Incident</h2>

<mat-dialog-content>
  <h3>Select Category:</h3>
  <mat-accordion>
    @for(type of incidentTypes; track type.id)
    {

      <mat-expansion-panel [expanded]="expanded === type.id" (opened)="expanded = type.id" (closed)="expanded = null">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img [src]="'assets/markers/type_icons/' + type.name + '-marker.png'" alt="{{ type.name }}" 
            width="35" 
            height="35" />
            {{ this.capitalizeFirstLetter(type.name) }}
          </mat-panel-title>
        </mat-expansion-panel-header>
      

      <!-- Subtypes List -->
      @if(this.getSubtypes(type.id).length > 0)
      {
        <mat-list>
          @for(subtype of this.getSubtypes(type.id); track subtype.id)
          {
            <mat-list-item style="justify-items: center; align-items: center;" 
                          (click)="this.selectSubtype(subtype.id)"
                          [ngClass]="{ 'selected-subtype': selectedSubtypeId === subtype.id }"
                          >
              <img [src]="'assets/markers/' + subtype.subtype + '-marker-pending.png'" alt="{{ subtype.subtype }}" 
              width="30" height="30" />
                {{ this.capitalizeFirstLetter(subtype.subtype) }}
             
            </mat-list-item>
            <mat-divider/>
          }
        </mat-list>
      }
      @else if(this.getSubtypes(type.id).length === 0){

        <p>No subtypes available</p>
      }
    </mat-expansion-panel>
  }
  </mat-accordion>

  
    <textarea matInput 
    placeholder="Description here..." 
    (input)="this.assignDescription($event)"
    formControlName="message" cdkTextareaAutosize
      cdkAutosizeMinRows="10"
      style="
      min-width: 100%;
      max-width: 100%;
      min-height: 4.5rem;
      height: 7rem;
      max-height: 10rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem
      "
      ></textarea>
  

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial style="color: #0066FF;">Confirm</button>
</mat-dialog-actions>