.selected-subtype {
    background-color: #0088FF;
    color: white !important;
    border-radius: 1rem;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 0.4rem;
    padding: 12px;
    cursor: pointer;
    width: 30%;
    max-height: 3rem;
    font-size: larger;

    text-align: center;
    overflow: hidden;
    

    margin-bottom: 1rem;
    
}

.custom-file-upload:hover {
  color: ghostwhite;
  background-color: #0088FF !important;
  font-weight: 500;
}

input[type="file"]
  {
    display: none;
  }