<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0"><h1>Lorem ipsum</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <span>
          <span style="font-size: xx-large;">Consectetur adipiscing elit</span>
          <br/><br/>
          <span style="font-size: large;"><b>Praesent posuere arcu sed lacus posuere ultrices. Nullam ac ante in nibh malesuada imperdiet eget ut odio.</b></span>
          <br/>
           <span style="font-weight: 500; font-size: larger;">Vestibulum ante:</span>
          <br/>
            <ul>
              <li>Ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam commodo nisi gravida, vulputate nibh a, molestie ex.</li><br/>
              <li>Nunc luctus ex vel neque tincidunt sollicitudin. Aliquam erat volutpat. Fusce varius, orci quis rhoncus venenatis, dui neque porttitor erat, quis porta lectus ligula vitae augue. </li><br/>
              <li>Pellentesque a egestas purus.</li><br/>
              <li>Cras sed odio quis massa congue commodo ut tempor lacus. Quisque posuere sapien libero, nec scelerisque nunc molestie ac.</li><br/>
              <li>Proin fermentum id ipsum sed fringilla. Phasellus a metus elit.</li><br/>
            </ul>
          <br/><br/>
          <span style="font-weight: 500; font-size: larger;">Integer bibendum ornare risus:</span>
          <br/>
            <ul>
                <li>Aenean sagittis arcu at dolor commodo, sit amet egestas orci fringilla. Morbi nisl tortor, mattis vehicula tristique non, semper vel libero.</li><br/>
                <li>Duis ac leo eros. Praesent non arcu nec justo pulvinar sollicitudin.</li><br/>
                <li>Donec a quam eu ante volutpat eleifend vitae in tortor. Nullam consequat rutrum tempor. Maecenas quis sagittis libero, vitae dictum risus.</li><br/>
                <li>Donec finibus accumsan tempus. Phasellus accumsan elit sem, sed consequat massa maximus ac.</li><br/>
                <li>Sed cursus nunc quis sem elementum tempor.</li><br/>
            </ul>
          <br/>
        </span>
        
      </mat-card-content>


      

</mat-card>
