<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
@if(this.authService.isLoggedIn())
{
  <button mat-icon-button aria-label="Notifications">
    @if(this.clusterService.numberOfClusters > 0){
      <i-tabler class="d-flex" name="bell" matBadge={{this.clusterService.numberOfClusters}} matBadgeColor="warn"></i-tabler>
    }
    @else {
      <i-tabler class="d-flex" name="bell" matBadge="0" matBadgeColor="primary"></i-tabler>
    }
  </button>
}

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  @if(this.profileChangeObservable | async; as myProf){
    <div>{{(myProf) ? "Logged in as: " + myProf.name : ""}}</div>
  }
  <button
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications" class="m-l-10"
  >
    @if(this.profileChangeObservable | async; as profile){
      <img
      id="profile-pic"
      src={{profile.picture}}
      class="rounded-circle object-cover"
      width="55"
      style="width: 55 !important;"
      onerror="this.src = '/assets/images/profile/default-user.png'"
      />
    }
    @else {
      <img
      id="profile-pic"
      src="/assets/images/profile/default-user.png"
      class="rounded-circle object-cover"
      width="55"
      style="width: 55 !important;"
      onerror="this.src = '/assets/images/profile/default-user.png'"
      />
    }

  

  </button>
  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    

    @if(this.authService.isLoggedIn())
    {
    <div class="p-x-12 m-t-12">

        <a
        mat-flat-button
        color="primary"
        class="w-100"
        (click)="printInfo()"
        >Print Info [TEST]</a
        >
        <div style="margin-top: 0.3rem; margin-bottom: 0.3rem;"></div>
        <a
        mat-flat-button
        color="primary"
        class="w-100"
        (click)="handleLogoutClick()"
        >Logout</a
        >
      </div>
    }
    @else {
      <div class="p-x-12 m-t-12">
        <a
        mat-flat-button
        color="primary"
        class="w-100"
        (click)="handleLoginClick()"
        >Login</a
        >
      </div>
    }
  </mat-menu>
  <div id="logged-div"></div>
</mat-toolbar>
